
#grafo-container {
    width: 100%;
    max-width: 1200px;
    height: 700px;
    margin: 30px auto;
    border-radius: 20px;
    background: white;
    box-shadow: 0 15px 35px rgba(0,0,0,0.15);
}

.botones-grafo {
    text-align: center;
    margin: 20px 0;
}

.grafo-simulacion h2 {
    text-align: center;
    color: #000080;
}

.grafo-simulacion p {
    text-align: center;
    font-size: 17px;
    margin-bottom: 20px;
}